{
    "root": true,
    "env": {
      "es6": true,
      "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["plugin:prettier/recommended"],
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "rules": {
        "no-useless-escape": "off",
        "no-var": "error",
        "no-tabs": 0,
        "newline-per-chained-call": ["error"],
        "newline-after-var": ["error", "always"],
    }
  }